
@charset "utf-8";

body{font:12px/24px "微软雅黑";color:#666;word-wrap:break-word;}/*使字体默认设置为12像素，行高24像素，微软雅黑，颜色#666，文字自动换行*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;} /*消除内外边距*/
li{list-style:none;}/*消除li前面的小圆点*/
a,input{text-decoration:none;outline:none;color: #666;}/*消除a标签的默认下划线，消除外边框细线,使字体颜色变成白色*/
a img,input{border:0;}/*消除img在IE里有边框的情况*/
img{vertical-align:middle;} 
table{border-collapse:collapse;}/*使边框线合并*/
input,textarea{outline:none;}/*消除外边框细线*/
textarea{resize: none;}/*是其大小无法在网页上调整*/
i{font-style:normal;}/*消除倾斜*/
b,th{font-weight:normal;}/*消除加粗*/

.over{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;} /*给需要设置文字后面...的标签设置class*/
.vm{vertical-align:middle;display:inline-block;} /*设置给需要垂直居中显示的文字或图片*/
.vcenter{vertical-align:middle;height:100%;display:inline-block;width:0;} /*这是空标签，作为辅助*/
.clearx{clear: both;height: 0;overflow: hidden;}/*给一个空的div设置，起到清除浮动的作用，但违反W3C的规则*/
.cu{cursor: pointer;}/*使鼠标悬停在button按钮时，变成一个小手的指示*/
.clear:after{content:"";display: block;clear: both;height:0;overflow: hidden;visibility: hidden;}/*使用伪元素清除浮动，给需要清除浮动的标签加上这个class*/
.clear{zoom:1;}/*IE浏览器的专有属性，其它浏览器不支持。它可以设置或检索对象的缩放比例,触发ie的hasLayout属性，清除浮动、清除margin的重叠等。*/
.pl_1{position:relative;top:-1px;}/*基于自身的位置上移1像素*/
.pl_2{position:relative;top:-2px;}/*基于自身的位置上移2像素*/
.pl1{position:relative;top:1px;}/*基于自身的位置下移1像素*/
.dis100{display: block;width: 100%;height: 100%;}
.fl{float: left;}
.fr{float: right;}
.red{color: #ef0000;}
.black{color:#000;}
.c666{color: #666;}
