@charset "utf-8";
body{min-height: 1500px;}
/*轮播图*/
	.bannerBg0{background: rgb(246,183,10);}
	.bannerBg1{background: rgb(252,116,162);}
	.bannerBg2{background: rgb(200,200,248);}
	.bannerBg3{background: rgb(246,183,10);}
	.bannerBg4{background: rgb(134,208,247);}
	#banner .banner{
		position: relative;
		left: -10px;
		width: 810px;
		height: 480px;
		margin: 0 auto;

	}
	#banner .banner .img-wrapper{
		position: relative;
		width: 810px;
		height: 480px;
		overflow: hidden;
	}
	#banner .banner .img-wrapper .img{
		position: absolute;
		display: none;
		width: 830px;
		height: 492px;
		left: -10px;
		top: -6px;
	}
	#banner .banner .img-wrapper .img.img-hover{
		top: -20px;
		left: -12px;
		width: 830px;
		height: 492px;
	}
	#banner .banner .circle{
		position: absolute;
		bottom: 43px;
		width: 100%;
		height: 20px;
		text-align: center;
	}
	#banner .banner .circle .circle-wrap{
		display: inline-block;
		height: 20px;
		line-height: 20px;
	}
	#banner .banner .circle .circle-item{
		position: relative;
		width: 157px;
		height: 50px;
		float: left;
		margin-right: 1px;
		cursor: pointer;
		opacity: 0.8;
		top:0;
		transition: top 0.3s linear;
	}
	#banner .banner .circle .circle-item.current{
		top: -10px;
	}
	#banner .bannerAd{
		position: absolute;
		top: 1px;
		left: 809px;
		width: 200px;
	}
	#banner .bannerAd > a {
		display: block;
		float: left;
		margin-bottom: 1px;
	}	
/*整点抢*/
	#rushBuy{
		padding-top: 20px;
		background: #f3f3f3;
	}
	#rushBuy .rushTitle{
		width: 100%;
	}
	#rushBuy .rushTitle .rushTime > h2 {
		float: left;
		line-height: 48px;
		font-size: 18px;
		margin-right: 10px;
		float: left;
	}
	#rushBuy .rushTitle .rushTime > h2 .rushIcon{
		display: block;
		float: left;
    	width: 38px;
    	height: 38px;
    	margin-right: 5px;
    	background: url(../img/icon_index.png) no-repeat -58px -44px;
	}
	#rushBuy .rushTitle .rushTime .rushTit{
		font-size: 14px;
		padding-top: 3px;
		line-height: 46px;
	}
	#rushBuy .rushTitle .timer{
		margin-left: 10px;
		padding-top: 3px;
		line-height: 48px;
		
	}
	#rushBuy .rushTitle .timer .nainfo{
		display: block;
		float: left;
		margin-right: 5px;
	}
	#rushBuy .rushTitle .timer .time > em {
		font-style: normal;
		font-size: 20px;
		letter-spacing: 1px;
		line-height: 20px;
		display: inline-block;
		padding: 5px 4px;
		font-weight: bold;
		margin-right: 3px;
		background: url(../img/icon_index.png) no-repeat -254px -2px;
	}
	#rushBuy .rushTitle .timer .time > em.hm{
		font-size: 16px;
		margin-right: -5px;
		padding:4px 9px 4px 3px;
		background: url(../img/icon_index.png) no-repeat -301px -5px;
	}
	#rushBuy .rushTitle .timer .time > b {
		font-size: 20px;
	}
	#rushBuy .rushTitle .rushMore{font-family: SimSun;}

	/*整点抢购选项卡*/
	#rushBuy .rushContainer .rushNavItem {
		float: left;
		padding-bottom: 33px;
	}
	#rushBuy .rushContainer .rushNavItem.rushNavItem-hover{background: url(../img/bg1.png) no-repeat center 42px;}
	#rushBuy .rushContainer .rushNavItem > a{
		width: 238px;
		height: 32px;
		color: #fff;
		text-align: center;
		display: block;
		background: #444851;
		padding: 5px 0;
	}
	
	#rushBuy .rushContainer .rushNavItem > a:hover{background: #6c6c6c;}
	#rushBuy .rushContainer .rushNavItem > a.rushNava-hover{
		background: #cb351a;
	}
	#rushBuy .rushContainer .rushNavItem > a > h3{
		font-size: 16px;
		line-height: 16px;
		font-weight: normal;
	}
	#rushBuy .rushContainer .rushNavItem > a > p{
		line-height: 14px;
	}
	#rushBuy .rushContainer .rushNav {
		position: relative;
	}
	#rushBuy .rushContainer .rushNav .number{
		position: absolute;
		bottom: 5px;
		right: 0;
		width: 48px;
		height: 16px;
		line-height: 16px;
		z-index: 2;
		text-align: center;
	}
	#rushBuy .rushContainer .rushNav .number .num{
		display: inline-block;
		background: url(../img/icon_index.png) no-repeat;
		width: 12px;
		height: 14px;
		line-height: 14px;
		margin-top: 2px;
	}
	#rushBuy .rushContainer .rushNav .number .num.numl{background-position: -336px 0;}
	#rushBuy .rushContainer .rushNav .number .num.numr{background-position: -348px 0;}
	/*整点抢购内容*/
	#rushBuy .rushContainer .rushCon{
		position: relative;
		overflow: hidden;
	}
	#rushBuy .rushContainer .rushCon .rushConItem {
		width: 9600px;
		margin-left: 0;
		display: none;
	}
	#rushBuy .rushContainer .rushCon .rushConItem.show{display: block;}
	#rushBuy .rushContainer .rushCon .rusharr{
		position: absolute;
		width: 27px;
		height: 82px;
		top: 95px;
		cursor: pointer;
		display: none;
	}
	#rushBuy .rushContainer .rushCon .rusharr.Arrowl{left: 1px;background: url(../img/l.jpg);}
	#rushBuy .rushContainer .rushCon .rusharr.Arrowr{right: 1px;background: url(../img/r.jpg);}
	#rushBuy .rushContainer .rushCon .rushConItem .rushCha {width: 1200px;overflow: hidden;float: left;}
	#rushBuy .rushContainer .rushCon .rushConItem .rushCha > li{
		width: 290px;
		height: 345px;
		float: left;
		margin-right: 10px;
		background: #fff;
	}
	#rushBuy .rushContainer .rushCon .rushConItem .rushCha > li .rushImg{
		display: block;
		width: 240px;
		height: 240px;
		margin: 10px auto 5px;
	}
	#rushBuy .rushContainer .rushCon .rushConItem .rushCha > li .rushImg img{
		position: relative;
		top: 0;
		transition: top 0.3s linear; 
	}
	#rushBuy .rushContainer .rushCon .rushConItem .rushCha > li .rushName{
		font-size: 14px;
		line-height: 1.4em;
		padding:0 20px;
	}
	#rushBuy .rushContainer .rushCon .rushConItem .rushCha > li .rushPrice{
		float: left;
		padding-left: 10px;
	}
	#rushBuy .rushContainer .rushCon .rushConItem .rushCha > li .rushPrice > strong{
		font-size: 18px;
		margin-right: 5px;
	}
	#rushBuy .rushContainer .rushCon .rushConItem .rushCha > li .rushNow{
		float: right;
		width: 90px;
		height: 30px;
		line-height: 30px;
		background: #f99;
		border-radius: 3px;
		text-align: center;
		margin-right: 10px;
	}
	#rushBuy .rushContainer .rushCon .rushConItem .rushCha > li .rushNow > a{font-size: 16px;color: #fff;}
	#rushBuy .rushContainer .rushCon .rushConItem .rushCha > li .rushNow:hover{background: #99f;}
/*热销榜*/
	#hot{background: #f3f3f3;margin-top: 27px;}
	#hot a{display: block;width: 590px;height: 200px;float: left;}
	#hot a.hotL{margin-right: 10px;}
/*今日半价*/
	#halfsale{margin-top: 20px;background: #f3f3f3;}
	#halfsale .title > h2 {
		float: left;
		line-height: 48px;
		font-size: 18px;
		margin-right: 10px;
		float: left;
	}
	#halfsale .title > h2 .rushIcon{
		display: block;
		float: left;
    	width: 38px;
    	height: 38px;
    	margin-right: 5px;
    	background: url(../img/icon_index.png) no-repeat -104px -44px;
	}
	#halfsale .title .rushTit{
		font-size: 14px;
		padding-top: 3px;
		line-height: 46px;
	}
	#halfsale .sales ul li .salesItem{
		display: block;
		width: 395px;
		height: 190px;
		border:1px solid #ccc;
		border-right: 0;
		border-bottom: 0;
		background: #fff;

	}
	#halfsale .sales ul li .salesItem:hover h3{color: #ef0000;}
	#halfsale .sales ul li .salesItem.salesItem-r{
		border-right: 1px solid #ccc;
	}
	#halfsale .sales ul li .salesItem.salesItem-b{
		border-bottom: 1px solid #ccc;
	}
	#halfsale .sales ul li .salesItem img{
		position: relative;
		left: 0;
		float: left;
		width: 150px;
		height: 150px;
		padding:20px 15px;
		transition: left 0.3s linear;
	}
	#halfsale .sales ul li .salesR{
		float: left;
		padding: 30px 0 20px 0;
	}
	#halfsale .sales ul li .salesR h3{
		width: 180px;
		height: 60px;
		font-size: 14px;
		line-height: 20px;
		font-weight: normal;
		padding-bottom: 20px;
	}
	#halfsale .sales ul li .salesR h4 strong{
		font-size: 24px;
		margin-right: 15px;
	}
	#halfsale .sales ul li .salesR h4 i{
		font-weight: 700;
	}
	#halfsale .sales ul li .salesR p{
		padding-top: 5px;
		height: 16px;
	}
	#halfsale .sales ul li .salesR p span{
		float: left;
	}
	#halfsale .sales ul li .salesR p b{
		float: right;
		margin-right: 10px;
		width: 42px;
		height: 22px;
		line-height: 22px;
		padding:0 18px 0 8px;
		background: #f66 url(../img/bg3.png) no-repeat 55px 7px;
		border-radius: 3px;
		text-align: center;
		color: #fff;
	}
/*天天特卖*/
	#everyday{margin-top: 20px;background: #f3f3f3;}
	#everyday .title > h2 {
		float: left;
		line-height: 48px;
		font-size: 18px;
		margin-right: 10px;
		float: left;
	}
	#everyday .title > h2 .dayIcon{
		display: block;
		float: left;
    	width: 38px;
    	height: 38px;
    	margin-right: 5px;
    	background: url(../img/icon_index.png) no-repeat -104px -44px;
	}
	#everyday .title .dayTit{
		font-size: 14px;
		padding-top: 3px;
		line-height: 46px;
	}
	#everyday .dayTitle .more{
		font-family: SimSun;
		line-height: 48px;
	}
	#everyday .dayCon ul{
		width: 1200px;
		overflow: hidden;
	}
	#everyday .dayCon ul .dayBox{
		padding-bottom: 7px;
		background: #fff;
		margin: 0 10px 10px 0;
		box-shadow: 0px 0px 5px 0px #d8d7d7;
	}
	#everyday .dayCon ul .dayBox .dayImg{
		position: relative;
		display: block;
		width: 290px;
		height: 230px;
		margin-bottom: 8px;
		overflow: hidden;
	}
	#everyday .dayCon ul .dayBox .dayImg img{
		position: absolute;
		left: 0;
		top: 0;
		width: 290px;
		height: 230px;
		transition: all 0.7s linear; 
	}
	#everyday .dayCon ul .dayBox .dayl{margin-left: 10px;}
	#everyday .dayCon ul .dayBox .dayl h3{
		line-height: 22px;
		font-weight: normal;
	}
	#everyday .dayCon ul .dayBox .dayl .dayIcon{
		background: url(../img/icon_index.png) no-repeat -520px 3px;
		padding: 3px 10px;
	}
	#everyday .dayCon ul .dayBox .dayr{margin: 12px 10px 0 0;}
	#everyday .dayCon ul .dayBox .dayr strong{
		font-size: 24px;
	}
/*猜你喜欢*/
	#like{margin: 20px 0 30px 0;background: #f3f3f3;}
	#like .likeTitle .title > h2 {
		float: left;
		line-height: 48px;
		font-size: 18px;
		margin-right: 10px;
		float: left;
	}
	#like .likeTitle .title > h2 .likeIcon{
		display: block;
		float: left;
    	width: 38px;
    	height: 38px;
    	margin-right: 5px;
    	background: url(../img/icon_index.png) no-repeat -199px -44px;
	}
	#like .likeTitle .title .likeTit{
		font-size: 14px;
		padding-top: 3px;
		line-height: 46px;
	}
	#like .likeTitle .write{
		line-height: 48px;
		margin-left: 60px;
	}
	#like .likeTitle .write a{
		width: 142px;
		height: 18px;
		line-height: 18px;
		color: #fff;
		display: inline-block;
		padding-right: 8px;
		background: #ff9f9f url(../img/bg3.png) no-repeat 135px 4px;
	}
	#like .likeTitle .write a i{
		display: block;
    	float: left;
    	width: 22px;
    	height: 18px;
    	margin-right: 5px;
    	border-right: #fff 1px solid;
    	background:url(../img/icon_index.png) no-repeat -179px 0px;
	}
	#like .likeTitle .write b{font-size: 14px;}
	#like .likeTitle .number{
		width: 58px;
		height: 48px;
		line-height: 48px;
		text-align: center;
	}
	#like .likeTitle .number .num{
		display: inline-block;
		background: url(../img/icon_index.png) no-repeat;
		width: 12px;
		height: 14px;
		line-height: 14px;
		margin-top: 17px;
	}
	#like .likeTitle .number .num.numl{background-position: -336px 0;}
	#like .likeTitle .number .num.numr{background-position: -348px 0;}
	
	#like .likeBox {
		overflow: hidden;
		position: relative;
		height: 520px;
	}
	#like .likeBox .likeL,#like .likeBox .likeR{
		position: absolute;
		display: block;
		width: 27px;
		height: 82px;
		top:218px;
		z-index: 2;
		transition: all 0.3s linear;
		cursor: pointer;
		opacity: 0.7;
	}
	#like .likeBox .likeL{
		left: -27px;
		background: url(../img/l.jpg) no-repeat;
	}
	#like .likeBox .likeR{
		right: -27px;
		background: url(../img/r.jpg) no-repeat;
	}
	#like .likeBox ul{
		position: absolute;
		width: 1200px;
		display: none;
	}
	#like .likeBox ul li{
		position: relative;
		width: 230px;
    	background: #fff;
    	height: 240px;
    	float: left;
    	margin: 0 10px 10px 0;
    	padding-top: 10px;
    	overflow: hidden;
	}
	#like .likeBox ul li:hover .likeWord{
		top: -5px;
	}
	#like .likeBox ul li:hover h4{
		bottom:0;
	}
	#like .likeBox ul li:hover .likeImg img{
		top: -8px;
	}
	#like .likeBox ul li .likeImg,#like .likeBox ul li .likeImg img{
		position: relative;
		top: 0;
		display: block;
		width: 150px;
		height: 150px;
		transition: top 0.3s linear;
	}
	#like .likeBox ul li .likeImg{
		margin:0 auto;

	}
	#like .likeBox ul li .likeWord{
		position: relative;
		top: 0;
		width: 100%;
		height: 60px;
		text-align: center;
		line-height: 45px;
		transition: top 0.3s linear;
	}
	#like .likeBox ul li .likeWord h3{
		font-weight: normal;
		font-size: 12px;
	}
	#like .likeBox ul li .likeWord h3 span{
		color: #c33;
		font-size: 14px;
	}
	#like .likeBox ul li .likeWord p{line-height: 33px;}
	#like .likeBox ul li .likeWord strong{
		font-size: 20px;
		color: #e33;
		margin-right: 5px;
	}
	#like .likeBox ul li h4{
		position: absolute;
		bottom: -55px;
		width: 100%;
		font: 12px/20px "";
    	height:50px;
    	padding-top: 5px;
		color: #fff;
		text-align: center;
		z-index: 0;
		background: #f60;
		transition: bottom 0.3s linear;
	}
	#like .likeBox ul li h4 b{
		font-size: 10px;
		color: #ccc;
	}
/*楼层*/
	#floor .floorAD{
		display: block;
		padding:0 0 25px 0;
	}
	#floor .floors{
		position: fixed;
		width: 35px;
		height: 370px;
		top:50%;
		margin-top: -175px;
		left: 35px;
		display: none;
	}
	#floor .floors ul li a{
		display: block;
		width: 35px;
		height: 34px;
		line-height: 16px;
		margin-bottom: 3px;
		color: #e8a79c;
		background: url(../img/icon_index.png) no-repeat;
		border-bottom: 1px solid #ccc;
		text-align: center;
	}
	#floor .floors ul li a.floors1{background-position: -518px -58px;}
	#floor .floors ul li a.floors2{background-position: -518px -102px;}
	#floor .floors ul li a.floors3{background-position: -518px -276px;}
	#floor .floors ul li a.floors4{background-position: -518px -145px;}
	#floor .floors ul li a.floors5{background-position: -518px -191px;}
	#floor .floors ul li a.floors6{background-position: -518px -235px;}
	#floor .floors ul li a.floors7{background-position: -518px -319px;}
	#floor .floors ul li a.floors8{background-position: -518px -404px;}
	#floor .floors ul li a.floors9{background-position: -518px -359px;}
	#floor .floors ul li .floors0{
		background: #999 url(../img/backTop.png) no-repeat center;
		color: #fff;
		border-radius: 5px;
		margin-top: 10px;
		cursor: pointer;
		width: 35px;
		height: 34px;
		line-height: 16px;
		padding-top: 3px;
		text-align: center;
	}
	#floor .floors ul li span{
		display: none;
	}
	#floor .floors ul li a.current{
		background: none;
	}
	#floor .floors ul li .floors0:hover{
		background: #666;
	}
	#floor .floors ul li .floors0:hover span {
		display: block;
	}
	#floor .margin{
		overflow: hidden;
	}
	#floor .floor{
		width: 1200px;
		margin-bottom: 15px;
	}
	#floor .floorL{
		position: relative;
		float: left;
		margin-right: 10px;
		width: 178px;
		height: 489px;
		border:1px solid #eee;
		background: #fff;
	}
	#floor .floorL h3{
		width: 178px;
		height: 42px;
		text-align: center;
		font-size: 16px;
		line-height: 42px;
		color: #fff;
		
		border-bottom:4px solid #c9ebff;
	}
	#floor .floorL h3.floorColor1{background-color: #03a4fe;}
	#floor .floorL h3.floorColor2{background-color: #fb5d5c;}
	#floor .floorL h3.floorColor3{background-color: #32b16a;}
	#floor .floorL h3.floorColor4{background-color: #50d4d9;}
	#floor .floorL h3.floorColor5{background-color: #f362b3;}
	#floor .floorL h3.floorColor6{background-color: #7863de;}
	#floor .floorL h3.floorColor7{background-color: #fc9b61;}
	#floor .floorL h3.floorColor8{background-color: #a4cc4e;}
	#floor .floorL h3.floorColor9{background-color: #c173d8;}

	#floor .floorL h3 b.floorColor11{background: #5cc3ff;}
	#floor .floorL h3 b.floorColor12{background: #ff9f9f;}
	#floor .floorL h3 b.floorColor13{background: #6acf98;}
	#floor .floorL h3 b.floorColor14{background: #8be9e9;}
	#floor .floorL h3 b.floorColor15{background: #fc9dd1;}
	#floor .floorL h3 b.floorColor16{background: #aa9bfc;}
	#floor .floorL h3 b.floorColor17{background: #ffc7a7;}
	#floor .floorL h3 b.floorColor18{background: #c0da8c;}
	#floor .floorL h3 b.floorColor19{background: #e4a2fc;}

	#floor .floorL h3 b{
		position: relative;
		top: -4px;
		float: left;
		width: 30px;
		height: 38px;
		margin: 0 10px 0 28px;
		line-height: 48px;
		font-size: 18px;
		font-weight: 700;
		background: #5cc3ff;
		border-bottom-right-radius:3px;
		border-bottom-left-radius:3px;
	}
	#floor .floorL h3 span{
		float: left;
		font-weight: normal;
	}
	#floor .floorL p{
		padding: 13px 0 13px 25px;
		height: 210px;
	}
	#floor .floorL p > a {
		display: block;
    	width: 62px;
    	height: 30px;
    	float: left;
    	line-height: 30px;
    	margin-right: 10px;
	}
	#floor .floorL p > a.blue{color:#50d4d9;}
	#floor .floorL p > a.blue1{color:#03a4fe;}
	#floor .floorL p > a.blue2{color:#fb5d5c;}
	#floor .floorL p > a.blue3{color:#32b16a;}
	#floor .floorL .floorB {
		width: 90px;
		height: 200px;
		overflow: hidden;
		margin-left: 45px;
	}
	#floor .floorL .floorB ul {
		overflow: hidden;
		width: 360px;
		height: 200px;
		margin-left: 0;
	}
	#floor .floorL .floorB ul li {
		float: left;
		width: 90px;
	}
	#floor .floorL .floorB ul li > a{
		display: block;
		width: 90px;
		height: 35px;
		margin-bottom: 15px;
	}
	#floor .floorL .floorB ul li > a img{
		display: block;
	}
	#floor .floorL .fArrowl,#floor .floorL .fArrowr{
		position: absolute;
		bottom: 64px;
		display: block;
		width: 30px;
		height: 82px;
		line-height: 82px;
		font-family: SimSun;
		font-size: 44px;
		text-align: center;
	}
	#floor .floorL .fArrowl{
		left: 5px;
	}
	#floor .floorL .fArrowr {
		right: 5px;
	}
	#floor .floorR .floorImg {
		display: block;
		margin: 0 10px 10px 0;
		border:1px solid #eee;
	}
/*底*/
	#foot .botCol{ width:100%; background: #fafafa; overflow: hidden; border-bottom: 1px solid #ddd; margin-bottom:30px;}
	#foot .botCol .colist{ width: 198px; overflow: hidden; float:left;}
	#foot .botCol .colist .iconco{ width: 41px; height: 41px; margin:15px auto 10px;}
	#foot .botCol .colist ul{ overflow: hidden; padding:0 25px;}
	#foot .botCol .colist ul li{ float: left; width:60px; line-height: 24px; margin-left:12px; font-family: "microsoft yahei";}
	#foot .sup-btn{width:80px; height:22px; padding-right: 10px; line-height: 22px;  margin: 15px auto 15px; text-align: center; background: url(../img/icon_index.png) no-repeat -59px -307px;  }
	#foot .sup-btn a{color: #fff; font-family: "microsoft yahei"; font-size: 14px;}
	#foot .sup-btn a:hover{color: #fff;}
	#foot .botCol .colist .iconco{background: url(../img/icon_index.png) no-repeat;}
	#foot .botCol .colist .fotbg1{ background-position: -59px -244px;}
	#foot .botCol .colist .fotbg2{ background-position: -110px -244px;}
	#foot .botCol .colist .fotbg3{ background-position: -161px -244px;}
	#foot .botCol .colist .fotbg4{ background-position: -212px -244px;}
	#foot .botCol .colist .fotbg5{ background-position: -263px -244px;}
	#foot .botCol .colist .fotbg6{ background-position: -315px -244px;}
	#foot .footBG{
		width: 100%;
		height: 380px;
		background: url(../img/footBg.jpg) no-repeat;
	}
